{{>header}}

<main id="main-content">
    <article id="featured-post">
        <div class="inner-container">
            {{#with featuredPost}}
                <div id="featured-post-heading">
                    <h1>Featured Post</h1>
                </div>
                <div id="featured-post-image-container">
                    <img src="{{imgPath}}" alt="{{imgDescription}}" />
                </div>
                <div id="featured-post-title">
                    <h2>{{title}}</h2>
                </div>
                <div id="featured-post-infobox" class="post-infobox">
                    <i class="fa-solid fa-layer-group"></i>
                    {{category}}
                    <i class="fa-solid fa-user"></i>
                    {{author}} 
                    <i class="fa-solid fa-calendar"></i>
                    {{dateCreated}}
                </div>
                <section id="featured-post-text" class="description-paragraph">
                    {{process-markdown content}}
                </div>
            {{/with}}
        </div>
    </article>
    <div class="inner-container">
        {{#each posts}}
            <article class="post">
                <div class="post-img">
                    <img src="{{imgPath}}" alt="{{imgDescription}}" />
                </div>
                <section class="post-content">
                    <div class="post-title">
                        <h2>{{title}}</h1>
                    </div>
                    <div class="post-infobox">
                        <div class="post-infobox-category">
                            <i class="fa-solid fa-layer-group"></i>
                            {{category}}
                        </div>
                        <div class="post-infobox-about">
                            <i class="fa-solid fa-user"></i>
                            {{author}} 
                            <i class="fa-solid fa-calendar"></i>
                            {{dateCreated}}
                        </div>
                    </div>
                    <section class="post-description description-paragraph">
                        {{process-markdown content}}
                    </section>
                </section>
            </article>
        {{/each}}
    </div>
</main>

{{>footer}}